textarea:focus, input:focus {
  border-color: #ffa500 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.5) !important;
}

.main-btn {
  background-color: #ffa500;
  color: #fff;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.main-btn:hover {
  background-color: #fff;
  color: #ffa500;
}

.main-text h1 {
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
  text-transform: capitalize;
}
.main-text h1 span {
  color: #ffa500;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.navbar {
  background-color: #f9f9f9;
}
.navbar .container .navbar-brand {
  font-weight: 550;
  font-size: 36px;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}
.navbar .container .navbar-brand span {
  color: #ffa500;
}
.navbar .container .navbar-toggler .menu-icon {
  color: #ffa500;
}
.navbar .container .collapse .navbar-nav .nav-item .nav-link {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 550;
  border-radius: 3px;
  color: black;
  transition: 0.3s ease;
}
.navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
  background: #eec048;
  color: #fff;
}
.book {
  background-color: #f9f9f9;
  padding: 50px;
}
@media (max-width:767px) {
  .book {
    padding: 0;
  }
}
@media (max-width:767px) {
  .book .container .main-text h1 {
    margin-top: 20px;
  }
}
.book .container .row {
  margin-top: 30px;
}
.book .container .row .card {
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}
.book .container .row form input[type=submit] {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 550;
  width: 160px;
}
.book .container .row form input[type=submit]:hover {
  width: 170px;
}
@media (max-width:767px) {
  .book .container .row form input[type=submit] {
    width: 100%;
  }
  .book .container .row form input[type=submit]:hover {
    width: 100%;
  }
}

.packages .container .main-text h1 {
  margin-top: 30px;
}
.packages .container .row {
  margin-top: 30px;
}
.packages .container .row .card {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.packages .container .row .card img {
  border-radius: 5px;
}
.packages .container .row .card .card-body h3 {
  font-size: 25px;
  font-weight: 600;
}
.packages .container .row .card .card-body p {
  font-size: 15px;
}
.packages .container .row .card .card-body .star i, .packages .container .row .card .card-body .star svg {
  color: #ffa500;
}
.packages .container .row .card .card-body h6 {
  font-size: 20px;
  margin: 10px 0;
}
.services {
  background-color: #f9f9f9;
  margin-top: 50px;
}
.services .container .main-text h1 {
  padding-top: 30px;
}
.services .container .row {
  margin-top: 30px;
}
.services .container .row .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  border: none;
}
.services .container .row .card i, .services .container .row .card svg {
  font-size: 80px;
  color: #ffa500;
  margin-top: 20px;
}
.services .container .row .card .card-body h3 {
  font-weight: 600;
}
.gallary {
  margin-top: 50px;
}
.gallary .container .main-text h1 {
  padding-top: 20px;
}
.gallary .container .row {
  margin-top: 30px;
}
.gallary .container .row .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.gallary .container .row .card img {
  height: 230px;
  transition: 0.5s ease;
}
.gallary .container .row .card img:hover {
  transform: scale(1.1);
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.paddings {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width:1200px) {
  .paddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.xPaddings {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.yPaddings {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width:992px) {
  .yPaddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.primaryText {
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: (max-width:767px)) {
  .primaryText {
    font-size: 2.5rem;
  }
}

.secondaryText {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 500;
}
@media (max-width: (max-width:767px)) {
  .secondaryText {
    font-size: 1.1rem;
    line-height: 40px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa500;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 165, 0, 0.5);
}

.about {
  margin-top: 50px;
  background-color: #f9f9f9;
}
.about .container .main-text h1 {
  padding-top: 30px;
}
.about .container .main-text h1 span {
  padding-left: 10px;
}
.about .container .row {
  margin-top: 50px;
}
.about .container .row .texts h2 {
  font-weight: 600;
  letter-spacing: 1px;
}
.about .container .row .texts p {
  font-weight: 500;
}
.about .container .row .texts button {
  font-weight: 550;
  letter-spacing: 2px;
}

.home {
  width: 100%;
  height: calc(100vh - 85px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:767px) {
  .home {
    background-position: 50%;
  }
}
.home .content {
  text-align: center;
  padding-top: 200px;
}
.home .content h5,
.home .content h1,
.home .content p {
  color: #fff;
  text-shadow: 0px 1px 1px black;
}
.home .content h1,
.home .content p {
  margin-top: 5px;
}
.home .content h5 {
  font-size: 38px;
  font-weight: 550;
}
@media (max-width:767px) {
  .home .content h5 {
    font-size: 25px;
  }
}
.home .content h1 {
  font-size: 70px;
  font-weight: 550;
}
@media (max-width:767px) {
  .home .content h1 {
    font-size: 38px;
  }
}
.home .content h1 .countries::after {
  content: " ";
  color: #ffa500;
  text-shadow: 0px 1px 1px black;
  animation: changetext 10s infinite linear;
}
@keyframes changetext {
  0% {
    content: "France";
  }
  10% {
    content: "Spain";
  }
  20% {
    content: "United States";
  }
  30% {
    content: "China";
  }
  40% {
    content: "India";
  }
  50% {
    content: "Pakistan";
  }
  60% {
    content: "Italy";
  }
  70% {
    content: "Turkey";
  }
  80% {
    content: "Mexico";
  }
  90% {
    content: "Germany";
  }
  100% {
    content: "United kingdom";
  }
}
.home .content p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width:767px) {
  .home .content p {
    font-size: 13px;
  }
}
.home .content a {
  padding: 10px;
  letter-spacing: 2px;
  font-weight: 550;
}

/*Start Footer*/
/*End Footer*//*# sourceMappingURL=style.css.map */