@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(../images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$maxMobile} {
    background-position: 50%;
  }
  .content {
    text-align: center;
    padding-top: 200px;
    h5,
    h1,
    p {
      color: $light;
      text-shadow: $text-primary-shadow;
    }
    h1,
    p {
      margin-top: 5px;
    }
    h5 {
      font-size: 38px;
      font-weight: 550;
      @media #{$maxMobile} {
        font-size: 25px;
      }
    }
    h1 {
      font-size: 70px;
      font-weight: 550;
      @media #{$maxMobile} {
        font-size: 38px;
      }
      .countries::after {
        content: " ";
        color: $orange;
        text-shadow: $text-primary-shadow;
        animation: changetext 10s infinite linear;
      }
      @keyframes changetext {
        0% {
          content: "France";
        }
        10% {
          content: "Spain";
        }
        20% {
          content: "United States";
        }
        30% {
          content: "China";
        }
        40% {
          content: "India";
        }
        50% {
          content: "Pakistan";
        }
        60% {
          content: "Italy";
        }
        70% {
          content: "Turkey";
        }
        80% {
          content: "Mexico";
        }
        90% {
          content: "Germany";
        }
        100% {
          content: "United kingdom";
        }
      }
    }
    p {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 30px;
      @media #{$maxMobile} {
        font-size: 13px;
      }
    }
    a {
      padding: 10px;
      background: $light;
      color: $dark;
      letter-spacing: 2px;
      font-weight: 550;
      border-radius: 5px;
      transition: $transition-1th;
      &:hover {
        background-color: $orange;
        color: $light;
      }
    }
  }
}
