@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.home {
  position: relative;
  width: 100%;
  // height: calc(100vh - 85px);
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(../images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$maxMobile} {
    background-position: 50%;
  }
  // Arrow Down
.go-down{
  position: absolute;
  top: 90%;
  width: 25px;
  z-index: 99;
  height: 25px;
  // background-color: red;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bouncing 1.5s infinite;
    cursor: pointer;
    @keyframes bouncing {

      0%,
      10%,
      20%,
      50%,
      80%,
      100% {
          transform: translateY(0);
      }
  
      40%,
      60% {
          transform: translateY(-20px);
      }
  }
  i,svg{
    // position: absolute;
    color: var(--gray);
    font-size: 30px;
  }
}
  .content {
    text-align: center;
    padding-top: 200px;
    h5,
    h1,
    p {
      color: $light;
      text-shadow: $text-primary-shadow;
    }
    h1,
    p {
      margin-top: 5px;
    }
    h5 {
      font-size: 38px;
      font-weight: 550;
      @media #{$maxMobile} {
        font-size: 25px;
      }
    }
    h1 {
      font-size: 70px;
      font-weight: 550;
      @media #{$maxMobile} {
        font-size: 38px;
      }
      .countries::after {
        content: " ";
        // color: $orange;
        color: var(--orange);
        text-shadow: $text-primary-shadow;
        animation: changetext 10s infinite linear;
      }
      @keyframes changetext {
        0% {
          content: "France";
        }
        10% {
          content: "Spain";
        }
        20% {
          content: "United States";
        }
        30% {
          content: "China";
        }
        40% {
          content: "India";
        }
        50% {
          content: "Pakistan";
        }
        60% {
          content: "Italy";
        }
        70% {
          content: "Turkey";
        }
        80% {
          content: "Mexico";
        }
        90% {
          content: "Germany";
        }
        100% {
          content: "United kingdom";
        }
      }
    }
    p {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 30px;
      @media #{$maxMobile} {
        font-size: 13px;
      }
    }
    a {
      padding: 10px;
      letter-spacing: 2px;
      font-weight: 550;
    }
  }
}

