@use "../utils/variables" as *;
.main-btn {
  background-color: var(--orange);
  color: $light;
  outline: none;
  border: none;
  transition: $transition-2th;
  &:hover,&:active {
    background-color: $light !important;
    color: var(--orange) !important;
  }

}
