@use "../utils/variables" as *;
.book {
  // background-color: $gray;
  background-color: var(--gray);
  padding: 50px;
  @media #{$maxMobile} {
    padding: 0;
  }
  // @media #{$minSmall} {
  //   height: 100vh;
  // position: relative;  

  // }
  .container {
    .main-text {
      h1 {
        // text-align: center;
        // text-shadow: $text-primary-shadow;
        // font-weight: 600;
        @media #{$maxMobile} {
            margin-top: 20px;
            // padding: 20px;
        }
        span {
          // color: $orange;
        }
      }
    }

    .row {
      margin-top: 30px;
      .card {
        border-radius: 10px;
        box-shadow: $th6-shadow;
        img {
        }
      }

      form {
        input,
        textarea {
        //   box-shadow: $th6-shadow;
        }
        input[type="submit"] {
         margin-top: 10px;
         font-size: 16px;
         font-weight: 550;
         width: 160px;
         &:hover{
            width: 170px;
         }
         @media #{$maxMobile} {
            width: 100%;
            &:hover{
                width: 100%;
            }
         }
        }
      }
    }
  }
}
