@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.navbar {
  // background-color: $gray;
  background-color: var(--gray);
  .container {
    .navbar-brand {
      // font-size: 36px;
      // font-weight: 550;
      font: {
        size: 36px;
        weight: 550;
      };
      // color: $dark;
      color: var(--dark);
      text-shadow: $text-primary-shadow;
      margin-bottom: 5px;
     
      span {
        // color: $orange;
        color: var(--orange);
      }
    
    }
    .navbar-toggler {
      .menu-icon {
        // color: $orange;
        color: var(--orange);
      }
    }
    .collapse {
      .navbar-nav {
        // margin-left: 20px;
        .nav-item {
          .nav-link {
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 550;
            border-radius: 3px;
            // color: $dark;
            color: var(--dark);
            transition: $transition-1th;
            &:hover {
              // background: $mustard;
              background: var(--mustard);
              color: $light;
            }
          }
        }
        .dropdown{
          @media #{$maxSmall} {
            margin-bottom: 10px;
          }
          button{
            background-color: var(--gray) !important;
            color: var(--dark);
  
          }
          .dropdown-menu{
            li{
              cursor: pointer;
              i,svg{
                padding: 0 10px;
                &.light{
                  color: var(--orange);
                }
                &.dark{
                  color: var(--dark);
                }
              }
            }
          }
        }
      }
      form {
      }
    }
  }
}
