@use "../utils/variables" as *;
.services{
    // background-color: $gray;
    background-color: var(--gray);
    margin-top: 50px;
    padding-bottom: 21px;
    .container{

.main-text{
    h1{
        padding-top: 30px;
    }
}

        .row{
            margin-top: 30px;
            .card{
                box-shadow: $th7-shadow;
                cursor: pointer;
                border: none;
                i,svg{
                    color: var(--orange);
                    font-size: 40px;
                    margin: 20px 0;
                
                }
                .card-body{
                  
                    h3{
                        font-weight: 600;
                    }
                    p{}
                }
            }
        }
    }
}